<!--
You will need to rename this example file to the filename referenced in the 'file' attribute
  of the appSettings section in the App.config file.
-->
<appSettings>
  <add key="WorkFront_BASE_URL" value="https://xxxx.attask-ondemand.com"/>
  <add key="WorkFront_URL" value="URL_HERE"/>
  <add key="WorkFront_Username" value="USERNAME_HERE"/>
  <add key="WorkFront_Password" value="PASSWORD_HERE"/>
  <add key="WorkFront_Team_ID" value="TEAM_ID_HERE"/>

  <add key="WorkFront_Update_File" value="updates.txt"/>

  <add key="Slack_Webhook_URL" value="URL_HERE"/>
  <add key="Slack_Channel" value="#CHANNEL_HERE"/>
  <add key="Slack_Username" value="USERNAME_HERE"/>
  <add key="Slack_User_Icon_URL" value="ICON_URL_HERE"/>
</appSettings>