<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  
  <!--
  You will need to rename the APISettings.config.example file to the filename referenced in the 'file' attribute
  of the appSettings section below.
  -->
  <appSettings file="APISettings.config">
  </appSettings>
  
</configuration>